/* Estilos para a página de busca de contrato */

.page-content {
    display: block; /* Altere de flex para block */
    height: 100vh;
    background-color: #f0f0f0;
    overflow: auto; /* Adiciona a barra de rolagem quando necessário */
    padding: 5px; /* Adicione algum preenchimento se necessário */
}

.block {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 95%;
    max-width: 600px;
    overflow: auto; /* Adiciona a barra de rolagem quando necessário */
    margin: 80px auto; /* Centraliza o bloco horizontalmente */

}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 120px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 2px solid #2196F3;
    border-radius: 15px;
    font-size: 16px;
}
.navbar-bg{
    background-color: #2196F3;
    color: #fff;
    font-weight:bold;    

}
.title{
    color: #fff;
    font-size: 20px;
    font-weight:bold;    

}
.view{
    overflow: auto; /* Adiciona a barra de rolagem quando necessário */
 
}
.container-buscar-contrato {
    display: grid;
    grid-template-columns: 40% 30%; /* Define duas colunas de 30% cada */
    gap: 10%; /* Espaçamento entre as colunas, opcional */
    justify-content: center; /* Centraliza as colunas horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */

}

#contractNumber, #searchButton {
    width: 100%; /* Necessário para garantir que os elementos preencham suas colunas */
}
#searchButton {
    height: 70%; /* Necessário para garantir que os elementos preencham suas colunas */
    margin-top: -18px;
    border-radius: 10px;
}
.container-contrato {
    display: grid;
    grid-template-columns: 10% 20% 10% 20%; /* Define duas colunas de 30% cada */
    gap: 20px; /* Espaçamento entre as colunas, opcional */
    justify-content: start; /* Alinha as colunas à esquerda */
    margin-left: -15px; /* Adiciona uma margem à esquerda */


}

#label-contrato, #input-contrato, #label-nome, #input-nome {
    width: 100%; /* Necessário para garantir que os elementos preencham suas colunas */
}
.container-nome {
    display: grid;
    grid-template-columns: 8% 90%; /* Define duas colunas de 30% cada */
    gap: 20px; /* Espaçamento entre as colunas, opcional */
    justify-content: start; /* Alinha as colunas à esquerda */
    margin-left: -15px; /* Adiciona uma margem à esquerda */
    margin-top: -10px;

}
.container-endereco {
    display: grid;
    grid-template-columns: 8% 90%; /* Define duas colunas de 30% cada */
    gap: 20px; /* Espaçamento entre as colunas, opcional */
    justify-content: start; /* Alinha as colunas à esquerda */
    margin-left: -15px; /* Adiciona uma margem à esquerda */
    margin-top: -10px;

}

#label-endereco, #input-endereco, #label-bairro, #input-bairro {
    width: 100%; /* Necessário para garantir que os elementos preencham suas colunas */
}
.container-forma-de-pagamento {
    display: grid;
    grid-template-columns: 28% 10% 25% 28%; /* Define duas colunas de 30% cada */
    gap: 10px; /* Espaçamento entre as colunas, opcional */
    justify-content: start; /* Alinha as colunas à esquerda */
    margin-left: -5px; /* Adiciona uma margem à esquerda */
    margin-top: -10px;


}

#label-forma-de-pagamento, #input-forma-de-pagamento, #label-data-ativacao, #input-data-ativacao {
    width: 100%; /* Necessário para garantir que os elementos preencham suas colunas */
}

.container-debito {
    display: grid;
    grid-template-columns: 28% 10% 25% 30%; /* Define duas colunas de 30% cada */
    gap: 10px; /* Espaçamento entre as colunas, opcional */
    justify-content: start; /* Alinha as colunas à esquerda */
    margin-left: -5px; /* Adiciona uma margem à esquerda */
    margin-top: -10px;


}
.container-bairro {
    display: grid;
    grid-template-columns: 10% 40% 10% 30%; /* Define duas colunas de 30% cada */
    gap: 10px; /* Espaçamento entre as colunas, opcional */
    justify-content: start; /* Alinha as colunas à esquerda */
    margin-left: -5px; /* Adiciona uma margem à esquerda */
    margin-top: -10px;


}

#label-total-parcelas, #input-total-parcelas, #label-otal-debito, #input-otal-debito {
    width: 100%; /* Necessário para garantir que os elementos preencham suas colunas */
}
.rounded-div {
    width: auto;
    height: 2px;
    background-color: #f0f0f0;
    border: 2px solid #2196F3;
    border-radius: 15px; /* Aqui você define o arredondamento das bordas */
    padding: 15px;
    text-align: center;
    margin-left: -50px;
    margin-top: 38px;
    display: flex; /* Define o contêiner como um contêiner flexível */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
}

.user-info {
    display: flex; /* Para alinhar o nome do usuário e o ícone na mesma linha */
    align-items: center; /* Centraliza verticalmente os elementos */
    justify-content: end; /* Alinha as colunas à esquerda */
    padding: 20px;
    font-size: 16px; /* Tamanho do ícone */


  }
  
  .user-info .username {
    margin-left: 5px; /* Espaçamento entre o nome do usuário e o ícone */
  }
  
  #icone-user {
    font-size: 22px; /* Tamanho do ícone */
    color: #fff; /* Cor do ícone */
  }
  #output-total-parcelas, #output-total-debito{
    font-size: 18px;
    font-weight: bold;
  }

  .card {
    background-color: #2196F3;
    /* Um tom de azul claro */
    border: 1px solid #007bff;  /* Azul mais escuro para o contorno */
    border-radius: 8px;
    padding: 16px;
    margin: 4px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    width: calc(50% - 16px); /* Para tornar o card responsivo, definimos a largura como 50% da largura do contêiner pai, com 16px de margem em cada lado */
    box-sizing: border-box; /* Para incluir a largura da borda no cálculo da largura total */
    color: white;
    font-weight: bold;
}

.card:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background-color: #0056b3;

}

.card.selected {
    background-color: #90caf9; /* Um tom de azul mais escuro para cartões selecionados */
    border: 1px solid #e3f2fd;  /* Azul mais escuro para o contorno */

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Para espaçar uniformemente os cartões horizontalmente */
    margin-top: 25px;
    margin-bottom: 25px;
}

.input-container {
    margin-bottom: 20px;
    width: 100%; /* Certifica-se de que a entrada e os botões estejam na largura total */
    display: flex;
    justify-content: space-between; /* Para espaçar uniformemente os elementos de entrada e os botões */
}

.input-container input {
    width: calc(50% - 8px); /* Divide a largura da entrada ao meio com 8px de margem */
    box-sizing: border-box;
}

.input-container button {
    width: calc(50% - 8px); /* Divide a largura do botão ao meio com 8px de margem */
    box-sizing: border-box;
}
@media (min-width: 768px) { /* Quando a largura da tela for maior ou igual a 768px (tamanho de tela médio) */
    .card {
        width: calc(25% - 4px); /* Para telas maiores, os cartões ocupam 25% da largura do contêiner pai, com 16px de margem em cada lado */
    }
}
.custom-message {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    border: 2px solid #007bff;  /* Azul mais escuro para o contorno */
    font-weight: bold;
    font-size: 18px;

  }
  

.close-button {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    float: right;
}

.close-button:hover {
    background-color: #0056b3;
}

.message-text {
    margin-right: 10px;
}

/* Estilos para o spinner de carregamento */
.loading-spinner {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid #f3f3f3; /* Cinza claro */
    border-top: 5px solid #3498db; /* Azul */
    border-radius: 50%;
    animation: spin 1s linear infinite; /* Animação de rotação */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  